node_modules/

token.json
config.json

__pycache__/

*.log

data.json
.venv/
venv/
local-settings.json
bluetooth_devices/

# Ignore chatbot discussions
Chatbot Discussions/
**/Chatbot Discussions/

# Ignore Dev Logs
*Dev Log.md
*dev log.md
*dev-log.md
*Dev-Log.md

# Ignore local parser config
local-parser.js

# Ignore local files
ag-stop-probe.json
diff.txt
diff*.txt
